h1{
    /* r g b  */
    /* 0->9 a-> f */
    /* 0 -> 255 */
    /* color: #ff00000 */
    color: rgb(246, 79, 7);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
}
/* universal selector */
/* *{
    color: green;
    text-transform: uppercase;
} */

*{
    margin: 0px;
    padding: 0px;
}
/* tag selector,element selector */
h2{
    color: red;
    text-align: center;
}
/* attribute selector */
a[title="google"]{
    color: red;
    text-decoration: none;
}

/* idSelector */
#idselector{
    color: red;
    line-height: 25px;
    letter-spacing: 5px;
    text-indent: 50px;
    font-style: italic;
    text-transform: capitalize;
}
/* classSelector */
.classSelector{
    color: red;
    word-spacing: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 25px;
}
/* desc selector */
.desc a{
    color: red;
}

/* child selector */
.child>a{
    color: red;
}

/* Pseudo Selector */

a:link{
    color: red;
    letter-spacing: 3px;
}

a:hover{
    color: yellow;
}
a:active{
    color: green;
}
a:visited{
    color: brown;
}

/* target */

:target{
    color: red;
    border: 1px solid black;
    letter-spacing: 5px;
}
/* border */
.borderOne{
    border: 5px dashed red;
}
.bordertwo{
    border-left:5px solid yellowgreen ;
    border-top: 5px solid rgb(192, 75, 75);
}
.borderthree{
    /* top&bottom left&right */
    /* border-style: solid dotted; */
    /* t/l&R/b */
    /* border-style: dashed solid dotted; */
    /* t/r/b/l */
    border-style: dotted double solid dashed;
}
.borderwidth{
    border-width: 5px 8px 12px 15px;
    border-style: dotted;
}
.margin{
    border: 2px solid red;
    margin: 40px;
}
.padding{
    border: 2px solid red;
    padding: 40px;
}
/* layout */

.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}
.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

/* float */
.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}

.float_right img{
    width: 40%;
    float: right;
}
/* grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px 0px;
    color: aliceblue;
    text-align: center;
}
.gridone{
    display: grid;
    grid-template-columns: auto  800px auto;
}
.gridtwo{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 20px; */
    grid-gap: 20px;
}
.gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}
.rowadd{
    /* grid-row-start: 1; */
    grid-row-start: 2;
    grid-row-end: 3;
}
.coulumnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
/* position */
.relative_partent{
    border: 2px solid red;
    width: 1000px;
    height: 600px;
}
.position_relative{
    border: 2px solid green;
    width: 500px;
    height: 300px;
    position: relative;
    top: 100px;
    left: 100px;
}
.absolute_partent{
    border: 2px solid brown;
    width: 1000px;
    height: 600px;
    position: relative;
}
.position_absolute{
    border: 2px solid yellow;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
}
.fixed{
    position: fixed;
    top: 50px;
    right: 50px;
}
.online_font{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
@font-face {
    font-family:lemon ;
    src: url(../Lemon/Lemon-Regular.ttf);
}
.offline_font{
    font-family: lemon;
}

